
<h2>Add A Meditation</h2>
<div class="card card-body md-3">
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="meditation.name"name="name" >
    </div>
    <div class="form-group">
      <label>Goal</label>
      <input type="text" class="form-control" [(ngModel)]="meditation.goal" name="goal" >
    </div>
    <input type="hidden" [(ngModel)]="meditation.id" name="id">


      <button *ngIf="!isEdit" (click)="addMeditation(name.value, goal.value)"class="btn btn-dark">Add Meditation</button>

      <button (click)="updateMeditation()" *ngIf="isEdit" class="btn btn-dark">Edit Meditation</button>


  </form>
</div>
